MONGO
MONGO_URI=<YOUR_KEY_HERE>
MONGO_DB_NAME=eden-prod

AWS
AWS_ACCESS_KEY_ID=<YOUR_KEY_HERE>
AWS_SECRET_ACCESS_KEY=<YOUR_KEY_HERE>
AWS_REGION_NAME=<YOUR_KEY_HERE>
AWS_BUCKET_NAME=<YOUR_KEY_HERE>

Eden
EDEN_API_URL=<EDEN_PROD_URL>
EDEN_API_KEY=<YOUR_PROD_KEY_HERE>
EDEN_ADMIN_KEY=<ADMIN_KEY_HERE>

CLERK_PEM_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\<your_public_key_here>\n-----END PUBLIC KEY-----"

OPENAI_API_KEY=<YOUR_KEY_HERE>
ANTHROPIC_API_KEY=<YOUR_KEY_HERE>
REPLICATE_API_TOKEN=<YOUR_KEY_HERE>
ELEVEN_API_KEY=<YOUR_KEY_HERE>
TURBOPUFFER_API_KEY=<YOUR_KEY_HERE>
NEWSAPI_API_KEY=<YOUR_KEY_HERE>
#RUNWAYML_API_SECRET=key_<YOUR_KEY_HERE>
RUNWAYML_API_SECRET=key_<YOUR_KEY_HERE>
HEDRA_API_KEY=sk_hedra-<YOUR_KEY_HERE>

GCP
GCP_TYPE="service_account"
GCP_PROJECT_ID="<YOUR_KEY_HERE>"
GCP_PRIVATE_KEY_ID="<YOUR_KEY_HERE>"
GCP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n<YOUR_PRIVATE_KEY_HERE>\n-----END PRIVATE KEY-----\n"
GCP_CLIENT_EMAIL="modal_email"
GCP_CLIENT_ID="<ID_HERE>"
GCP_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
GCP_TOKEN_URI="https://oauth2.googleapis.com/token"
GCP_AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
GCP_CLIENT_X509_CERT_URL="<URL_HERE>"
GCP_UNIVERSE_DOMAIN="googleapis.com"
GCP_PROJECT_ID="<project_id>"
GCP_LOCATION="location"
GCP_STAGING_BUCKET="gs://trainresult"
GCP_JOB_PREFIX="job_prefix"

Ably
ABLY_SUBSCRIBER_KEY=<YOUR_KEY_HERE>
ABLY_PUBLISHER_KEY=<YOUR_KEY_HERE>

Alchemy
BASE_SEPOLIA_RPC_URL=<YOUR_KEY_HERE>
